$('div#popup').html("");
$('div#popup').show("drop", { direction: "left" }, 500, function () {

$('div#popup').append('<h2>Event Created for <%= @event.name %></h2>');

<% @restaurants.each do |restaurant| %>
$('div#popup').append('<%= escape_javascript(render restaurant, :locals => {:restaurant => @restaurant}) %>');
<% end %>

<% @meetups.each do |meetup| %>

  $('div#popup').append('<%= escape_javascript(render meetup, :locals => {:meetup => @meetups}) %>');

<% end %>

<% @parks.each do |park| %>

  $('div#popup').append('<%= escape_javascript(render park, :locals => {:outdoor_area => park}) %>');

<% end %>

 $('div#popup li').removeClass("locationbarmeetup");

deleteOverlays();
 <% @restaurants.each do |item| %>
    addMarker(<%= item.latitude %>,<%= item.longitude %>,'<%= item.name %>');
 <% end %>
  <% @meetups.each do |item| %>
    addMarker(<%= item.latitude %>,<%= item.longitude %>,'<%= item.name %>');
 <% end %>
  <% @parks.each do |item| %>
    addMarker(<%= item.latitude %>,<%= item.longitude %>,'<%= item.name %>');
 <% end %>
zoomin(latlng);
latlng = [];


});