<li data-id="restaurant <%= restaurant.id %>">
<!-- <div class="locationbar"> -->
  <%= restaurant.name %>,
  <%= restaurant.address %><BR>
  <a href="<%= restaurant.yelp_url %>" target="_blank"> <img id="rating" src="<%= restaurant.yelp_stars_url.html_safe %>" />
  </a>

</li>
